<!DOCTYPE html>
<html>
    <body>
        <h1>A Node JS View </h1>
        <form action="/" method="post">
            <input type="text">
            <button type="submit">Submit</button>

        </form>
    </body>
</html>